/* Reset CSS */
* {
    padding: 0;
    /* emmet */
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.text-white {
    color: #fff !important;
}

body {
    background-color: #333;
}

.pdfFile {
    padding-top: 40px;
}